@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline-style: none; */
}

/* 태그 선택: 추천하는 각 태그별 기본값 */
a {
  text-decoration: none;
  /* 디자인 보고 수정 */
  color: #000000;
}
ul {
  list-style: none;
}
html {
  width: 100%;
  /* 디자인 보고 수정 */
  font-size: 12px;
}
body {
  width: 100%;
  font-size: 1rem;
  /* 디자인 보고 수정 */
  color: #000000;
  /* 글꼴이 필요함. */
}

/* div.wrap{} */

.wrap {
  width: 100%;
}

.layout {
  width: 1200px;

  /*위, 아래는 여백 없고 왼쪽 오른쪽 여백은 니가 정해. 방법 1 */
  margin: 0 auto;

  /*위, 아래는 여백 없고 왼쪽 오른쪽 여백은 니가 정해. 방법 2
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
*/

  background-color: skyblue;
}

.header {
  width: 100%;
  height: 163px;
  background-color: #ffffff;
  border-bottom: 1px solid #ebebeb;
}

.header_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_top_left {
  display: flex;
  align-items: center;
}

.search{

}

.search_form{
    display: flex;
    align-items: center;
}

.header_top_right {
}

.member {
  display: flex;
}

.header_bottom {
  width: 100%;
  display: flex;
  align-items: center;
}

.header_bottom_nav {
}

.nav {
  display: flex;
}

.header_bottom_eventmenu {
}

.cupon {
  display: flex;
  align-items: center;
}

.cupon > li > a {
    display: flex;
    align-items: center;
}

.box_wrap{
  background-color: yellowgreen;
}

div{
  background-color: orange;
}